{% extends "encyclopedia/layout.html" %}

{% block title %}
   Invalid search query
{% endblock %}

{% block body %}
   {% if  status == "exists"%}
      <p class="mx-auto mt-4 p-3 w-50 text-center border border-warning bg-warning-subtle rounded">Wiki Page for "{{ title }}" already exists <a href="/wiki/{{ title }}">({{ title }})</a></p>
   {% elif status == "invalid" %}
      <p class="mx-auto mt-4 p-3 w-50 text-center border border-warning bg-warning-subtle rounded">Invalid Wiki Page</p>
   {% endif %}
{% endblock %}